/* CSS de la pagina Acerca de... Mobike */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */

header {
	width: 100%;
	background: url('../img/about.jpg') #281a0c;
	background-size:contain;
	background-attachment: fixed;
    background-position: center 0;
    height: 500px;
}

header .contenedor {
	position: relative;
	height: 600px;
}

header .menu {
	width: 100%;
	text-align: right;
}

.registrarse{
	background: #ED552D;
    opacity: .8;
    height: 36px;
    line-height: 36px;
    border-radius: 20px;
    padding: 0 20px;

}

header .menu a {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}



header .menu a:hover {
	text-decoration: none;
	background: #ED552D;
	border-radius: 20px;
	padding: 0 20px;

}

header .textos {
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top:-52px;
}

header .textos .nombre {
	font-size: 50px;
	font-weight: 600;
}

header .textos .nombre span {
	font-weight: 300;
}

header .textos h3 {
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
}

/* -------- SECTION --------  */

section {
	padding: 40px 15px;
	margin: 0 180px;
}

section h1{
    text-align: center;
    font-style: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 400 ;

}

section p{
    font-style: "Open Sans","Montserrat", sans-serif;
    font-size: 15px;
   	display: block;
    margin: 14px;
    line-height: 1.7em;
	font-weight: 300;
}


/* ----- ----- FOOTER ----- ----- */
footer {
	background: #ED552D;
	height: 170px;
	padding: 15px 0;
	color: #fff;
	text-align: center;
}

footer .copyright {
	text-align: center;
	padding: 15px 0;
	color: #fff;

}

footer .copyright p{
	text-align: center;
	padding: 15px 0;
	color: #fff;
	border-top: 200px;

}



/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) {

	

	header{
		background:  #281a0c no-repeat center center fixed;;
		background-size: contain;
	}

	header .textos{
		margin-top: 30px;

	}

	header .textos .nombre {
		font-size: 35px;
		font-weight: 600;
		text-align: center;
		border-bottom: 20px;
	}
	
	header .textos .nombre span {
		font-weight: 250px;
		text-align: center;
		border-bottom: 20px;
	}
	
	header .textos h3 {
		font-weight: 300;
		font-size: 18px;
		font-style: italic;
		text-align: center;
		border-bottom: 20px;
	}
	
	header .contenedor .menu a{
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		text-align: center;
	}

	section {
		padding: 40px 15px;
		margin: 2px 2px;
		} 
	
	
}